@import url('https://fonts.cdnfonts.com/css/san-andreas');
@import url('https://fonts.cdnfonts.com/css/ep-dominate');
@import "Components/components";

h1 {
    font-family: 'SAN ANDREAS', sans-serif;
}

h3, h4, p, span {
    font-family: 'EP Dominate', sans-serif;
}
  
.var-color {
    color: var(--imp-text-color);
    font-weight: 400;
    font-family: 'SAN ANDREAS', sans-serif;
}


#title-section {
    font-size: var(--space-base);
}

button:focus {
    box-shadow: none;
}

.scroll-animation-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.scroll-animation-section.visible {
    opacity: 1;
    transform: translateY(0);
}