#about {
    background-color: black;
}

.about-section {
    min-height: 100vh;
    position: relative;
}

.about-content {
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: 100vh;
    color: whitesmoke;
    text-align: left;
}

.about-content.container {
    max-width: 90%;
}

.about-row {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.about-description-text {
    padding: 0 4em;
    font-size: 23px;
    font-weight: 700;
    text-align: left;
    color: white;
}

.mySwiper {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.about-cards {
    max-width: 100%;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .swiper {
    width: 200px;
    height: 270px;
    margin-left: 0;
    margin-right: 0;
}

#about .swiper-slide {
    width: fit-content !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background:
    linear-gradient(#0b0f1a, #0b0f1a) padding-box,
    linear-gradient(135deg, #8b5cf6, #38bdf8, #22d3ee) border-box;
    border: 5px solid transparent;
}

.swiper-slide img {
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {
    #about .swiper {
        width: 190px;
        height: 260px;
    }

    .about-description-text {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    .about-description-text {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .about-description-text {
        padding: 0 1em;
        font-size: 20px;
        margin-top: 60px;
        text-align: center;
    }

    .about-cards {
        display: flex;
        justify-content: center; 
        align-items: center; 
    }

    #about .swiper {
        width: 150px;
        height: 220px;
    }
}

@media (max-width: 576px) {
    .about-description-text {
        font-size: 18px;
    }  

    #about .swiper {
        width: 160px;
        height: 230px;
    }
}
