.resume-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: var(--image-gradient), url(../../Assets/contac.img.jpg); 
    background-size: cover; 
    background-position: center; 
}

.resume-description {
    padding: 3em 0 2em 0;

    span {
    font-size: 30px;
    color: white;
    }
}

@media (max-width: 992px) {
    .resume-section {
        padding-top: 14vh;

        #title-section .var-color {
            font-size: 0.7em;
        }
    }
}

@media (max-width: 768px) {
    .resume-section {
        padding-top: 12vh;

        #title-section .var-color {
            font-size: 0.7em;
        }

        .resume-description span {
            font-size: 18px;
        }

        ul li svg {
            width: 35px;
            height: 35px;
       }
    }
}

@media (max-width: 576px) {
    .resume-section {
        padding-top: 10vh;

        #title-section .var-color {
            font-size: 0.5em;
        }

        .resume-description span {
            font-size: 14px;
        }

        ul {
            padding-left: 0;
            li svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}