.footer {
    background-color: var(--bg-color-base);
    bottom: 0;
    padding: 45px 45px 0 45px;

    .footer-col {
        margin-bottom: 20px;

        .img-j {
            width: 8rem;
            height: 8rem;
        }
    }
}

.footer-row {
    flex-direction: column;
}

.footer-icons {
    margin-bottom: 45px;

    .social-icons {
        svg {
            width: 24px;
            height: 24px;
        }
    }
}

.footer p.follow-text {
    margin-bottom: 30px;
    color: grey;
}

.copyright-text {
    color: white;
    text-align: center;
}

.email-footer-text {
    background: rgba(128, 128, 128, 0.301);
    border: 2px solid grey;
    border-radius: 10px;
    padding: 12px 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 20px 0;
}

.footer .footer-copyright {
    margin-top: 50px;
}

.social-icons {
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    transition: transform 0.5s ease;
}

.social-icons:hover {
    transform: scale(1.5);
}

@media (max-width: 576px) {
    .footer-row {
        .footer-col {
            .copyright-text {
                font-size: 14px;
            }

            .img-j {
                width: 4rem;
                height: 4rem;
            }

            .footer-icons {
                padding-left: 0;

                .social-icons {
                    padding: 4px 6px;

                }
            }
        }

        .footer-copyright .copyright-text {
            font-size: 14px;
        }

        .email-footer-text {
            font-size: 12px;
        }
    }
}