.resume-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color-base); 
    background-size: cover; 
    background-position: center; 
}

.resume-description {
    padding: 3em 0 2em 0;

    span {
    font-size: 30px;
    color: white;
    }
}

.social-icons {
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    transition: transform 0.5s ease;
}

.social-icons:hover {
    transform: scale(1.5);
}

.icon-colour {
    svg {
        height: 50px;
        width: 50px;
    }
}

.social-media:nth-child(1) {
    svg {
        color: white;
    }
}

.social-media:nth-child(2) {
    svg {
        color: white;
    }
}

.social-media:nth-child(3) {
    svg {
        color: #0A66C2;
    }
}

.social-media:nth-child(4) {
    svg {
        border-radius: 20%;
        color: white;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    }
}

@media (max-width: 992px) {
    .resume-section {
        #title-section .var-color {
            font-size: 0.7em;
        }
    }
}

@media (max-width: 768px) {
    .resume-section {
        #title-section .var-color {
            font-size: 0.7em;
        }

        .resume-description span {
            font-size: 18px;
        }

        ul li svg {
            width: 35px;
            height: 35px;
       }
    }
}

@media (max-width: 576px) {
    .resume-section {
        #title-section .var-color {
            font-size: 0.5em;
        }

        .resume-description span {
            font-size: 14px;
        }

        ul {
            padding-left: 0;
            li svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}