#experience {
    background-color: var(--bg-color-base);
}

.experience-content {
    min-height: 100vh;
    position: relative;
}

.experience-section {
    padding: 10rem 2rem;
    color: whitesmoke;
    text-align: left;
}

.experience-section.container {
    max-width: 90%;
}

.vertical-timeline-element-title {
    margin-bottom: 10px;
}

.vertical-timeline-element-subtitle {
    margin-bottom: 10px;
}

.vertical-timeline-element-date {
    color: white;
}

.vertical-timeline-icon-start {
    position: static;
    margin: 10rem 0;
}

.timeline-wrapper {
    position: relative;
    padding-left: 40px;
    max-width: 800px;
    margin: auto;
}

.vertical-timeline::before {
    background: var(--timeline-gradient);
}

.vertical-timeline-icon-start .vertical-timeline-element-icon,
.vertical-timeline-icon-end .vertical-timeline-element-icon {
    background: var(--sub-title-gradient);
}

.vertical-timeline-element--work .vertical-timeline-element-content {
    background: var(--bg-navbar);
    color: #ffff;
    background:
    linear-gradient(#0b0f1a, #0b0f1a) padding-box,
    linear-gradient(135deg, #8b5cf6, #38bdf8, #22d3ee) border-box;
    border: 2px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.vertical-timeline-element-content-arrow {
    border-right: 7px solid rgb(83, 249, 255);
}

@media (max-width: 576px) {
    .vertical-timeline {
        width: 100%;
    }

    .vertical-timeline-element-content {
        padding: 20px 10px;
    }

    .vertical-timeline-element-title {
        font-size: 18px;
    }

    .vertical-timeline-element-subtitle {
        font-size: 16px;
    }

    .vertical-timeline-element-content ul li {
        font-size: 12px;
    }
}