#experience {
    background-color: var(--bg-color-base);
}

.experience-content {
    min-height: 100vh;
}

.experience-section {
    padding: 10rem 2rem;
    color: whitesmoke;
    text-align: left;
}

.vertical-timeline-element-title {
    margin-bottom: 10px;
}

.vertical-timeline-element-date {
    color: white;
}

.vertical-timeline-icon-start {
    position: static;
    margin: 10rem 0;
}

.timeline-wrapper {
    position: relative;
    padding-left: 40px;
    max-width: 800px;
    margin: auto;
}