.footer {
    background-color: #270036;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 8px;
}

@media (max-width: 767px) {
    .footer-copywright {
        text-align: center;
        font-size: 12px;
    }

    .footer-body {
        text-align: center;
        font-size: 12px;
    }
}

.footer h3 {
    font-size: 1em;
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.footer-icons {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
}