.footer {
    background-color: black;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 8px;

    .footer-copywright {
        align-content: space-around;
        .img-j {
            width: 8rem;
            height: 8rem;
        }
    }
}

@media (max-width: 767px) {
    .footer-copywright {
        text-align: center;
        font-size: 12px;

        .footer-icons {
            .social-icons {
                padding: 4px 12px;

                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }

    .footer-body {
        text-align: center;
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .footer-row {
        .footer-copywright {
            .copyright-text {
                font-size: 10px;
            }

            .img-j {
                width: 4rem;
                height: 4rem;
            }

            .footer-icons {
                .social-icons {
                    padding: 4px 6px;

                    svg {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }
    }
}

.footer h3 {
    font-family: cursive;
    font-size: 1em;
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.footer-icons {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;

    .social-icons {
        svg {
            width: 24px;
            height: 24px;
        }
    }
}