.sticky {
  transition: all 0.3s ease-out;
  backdrop-filter: blur(12px);
}

.navbar {
  position: fixed;
  transition: all 0.3s ease-out;
  padding: 0.3rem 2rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; 
  background-position: center; 
  background: var(--bg-navbar);
  border-bottom: 2px solid var(--border-glow)
}

.navbar-content.container {
  max-width: 90%;
}

.navbar-nav .nav-link {
  color: white !important;
  font-size: 14px;
}

.navbar-content .navbar-nav .nav-link.active {
  outline: 2px solid rgba(6, 182, 212, 0.5);
  outline-offset: 2px;
  border-radius: 10px;
}

.nav-link {
  padding: 0.8rem 1rem !important;
  cursor: pointer;
}

.nav-link::after {
  content: '';
  position: relative;
  bottom: 0;
  left: 50%;
  top: 10px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, rgb(6, 182, 212), rgb(99, 102, 241));
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.nav-link.active::after {
  width: 100%;
  display: block;
}

.navbar button.navbar-toggler {
  background: var(--imp-text-color);
}

.navbar-logo {
  height: 56px;
}

.navbar .navbar-content .navbar-toggler {
  background: transparent;

  &:focus {
    box-shadow: none;
  }
}

.custom-toggler {
  border: none;
  background: transparent;
  padding: 0;
}

.custom-toggler span {
  display: block;
  width: 32px;    
  height: 4px;     
  background: var(--borders-gradient);             
  margin: 6px 0;   
  border-radius: 2px;
  transition: all 0.3s ease;
}

@media (max-width: 1200px) {
  .navbar {
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
  }
  
  .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }
}

@media (max-width: 992px) {
  .navbar {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  
  .navbar-nav {
    .nav-link {
      padding-right: 0.6rem;
      padding-left: 0.6rem;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }
  
  .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .navbar-logo {
    display: block;
  }

  .navbar-content .navbar-nav .nav-link.active {
    width: fit-content;
  }

  .navbar-content .navbar-nav .nav-item {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding: 0.4rem 0.5rem;
    font-size: 0.8rem;
  }
  
  .navbar-nav .nav-link {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
  }
  
  .navbar-brand {
    font-size: 1.2rem;
  }
}
